body {
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-image: url(images/bg-mobile.svg);
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto auto;
    place-items: center;
    margin: 0 30px;
    font-family: 'Poppins', sans-serif;
    
}
header {
    text-align: start;
    height: 1.875rem;
    width: 100%;
}
.logo {
    width: 10rem;
    height: auto;
    margin-right: auto;
}
span {
    display: block;
    padding-top: 8px;
}

.illustration {
    width: 100%;
    height: auto;
}
main {
    text-align: center;
    color: white;
}
h1 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}
div {
    width: 200px;
    height: 40px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    text-align: center;
    display: inline-block;
    margin-top: 1rem;
    padding-top: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);

}
div:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
} 
.social {
    margin: 0 5px;
    border: 1px solid white;
    background-color: inherit;
    color: white;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    box-shadow: none;
    border-radius: 50%;
}
.social:hover {
    background-color: hsl(257, 40%, 49%);
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

@media (min-width: 700px) {
    body {
    background-image: url(images/bg-desktop.svg);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
    header {
        grid-column: 1/ span 4;
        grid-row: 1;
    }
    section {
        grid-column: 1/ span 2;
        grid-row: 2;
    }
    main {
        text-align: start;
        margin-left: 2rem;
        grid-column: 3/ span 4;
        grid-row: 2;

    }
    footer {
        grid-column: 4;
        grid-row: 3;
    }
}